.gendergroup {
  display: inline !important;
}
.genderLabel {
  display: inline !important;
  line-height: 2.66 !important;
}
.searchbtn {
  margin-top: 20px !important;
  height: 36px;
  margin-left: -40px !important;
}
body {
  background-color: ghostwhite !important;
}
/* .phoneID > div > input,
.firstName > div > input,
.identifier > div > input,
.age > div > input {
  padding: 6px 2px 12.5px 8px !important;
}
.phoneID > label#phone-label,
.firstName > label#firstName-label,
.identifier > label#identifier-label,
.age > label#age-label {
  font-size: 11px;
  top: -7px;
} */
/* #lvd {
  padding: 0 0 3px 0;
}
*/
.lvdClass {
  margin: -7px -11px 0 0 !important;
}
.otherClass {
  margin-left: 0 !important;
}
.genderClass {
  font-size: 13px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#searchForm {
  margin-top: 0;
}
.genderID {
  margin-left: -38px !important;
}
.AgeClass {
  width: 40%;
}
