.SearchIcon {
  padding-left: 50%;
}

.gendergroup {
  display: inline !important;
}
.genderLabel {
  display: inline !important;
  line-height: 2.66 !important;
}
.searchbtn {
  margin-top: 15px !important;
}
body {
  background-color: ghostwhite !important;
}
